.boardSquare {
   background-color: var(--light-color);
   width: 4vh;
   height: 4vh;
   text-align: center;

   outline: none;
   border: 0.1vw solid var(--dark-color);
   box-shadow: none;
}

.boardSquare:disabled {
   background-color: var(--de-emphasized);
   color: black;
}

.boardSquare:focus {
   box-shadow: 0 0 5px var(--primary-color);
   border: 0.1vw solid var(--primary-color);
}

input:nth-child(3), input:nth-child(6) {
   border-right: 0.2vw solid var(--dark-color);
}
input:nth-child(9) {
   border-right: 0.3vw solid var(--dark-color);
}

input:nth-child(1) {
   border-left: 0.3vw solid var(--dark-color);
}

input:nth-child(3):focus, input:nth-child(6):focus {
   box-shadow: 0 0 5px var(--primary-color);
   border: 0.1vw solid var(--primary-color);
   border-right: 0.2vw solid var(--primary-color);
}

input:nth-child(9):focus {
   box-shadow: 0 0 5px var(--primary-color);
   border: 0.1vw solid var(--primary-color);
   border-right: 0.3vw solid var(--primary-color);
}

input:nth-child(1):focus {
   box-shadow: 0 0 5px var(--primary-color);
   border: 0.1vw solid var(--primary-color);
   border-left: 0.3vw solid var(--primary-color);
}

/* * REMOVE NUMBER INPUT ARROWS * */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

/* Transition Stuff  */

/* .boardSquare {
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
} */
