.boardSquare {
   background-color: white;
   width: 4vh;
   height: 4vh;
   text-align: center;

   outline: none;
   border: 0.1px solid var(--secondary-color);
   box-shadow: none;

}

.boardSquare:disabled {
   background-color: var(--quaternary-color);
   color: black;
}

.boardSquare:focus {
   box-shadow: 0 0 5px var(--tertiary-color);
   border: 1px solid var(--tertiary-color);
}

/* * REMOVE NUMBER INPUT ARROWS * */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


/* Transition Stuff  */

/* .boardSquare {
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
} */
